
Presentation05/agregate.svg
Presentation05/agregatedSalary.svg
Presentation05/Composition.svg
Presentation05/compositionSalary.svg
Presentation05/PersonExt – Kopi.py
Presentation08/BlueSphere .webp~
/Presentation10/build
/Presentation10/dist/FileEditAndSave/_internal
/Presentation10/buildScript/release
/Presentation10/dist
/Presentation10/buildScript/build
Presentation10/buildScript/FileEditAndSave.spec
