
Presentation05/agregate.svg
Presentation05/agregatedSalary.svg
Presentation05/Composition.svg
Presentation05/compositionSalary.svg
Presentation05/PersonExt – Kopi.py
Presentation08/BlueSphere .webp~
/Presentation10/build
/Presentation10/dist/FileEditAndSave/_internal
/Presentation10/buildScript/release
/Presentation10/dist
/Presentation10/buildScript/build
Presentation10/buildScript/FileEditAndSave.spec
Presentation09/\#2Login/__pycache__/loginDialog.cpython-310.pyc
Presentation09/\#2Login/__pycache__/loginDialog.cpython-310.pyc
Presentation09/\#2Login/__pycache__/loginDialog.cpython-310.pyc
/Presentation10/\#1SerialTerminal/__pycache__
/.idea
/Presentation10/\#2SerialPlotterTemplate/__pycache__
/Presentation10/\#3SerialPlotter/__pycache__
/qtDesigner
/qtDesignerPlugins/register/__pycache__
/qtDesignerPlugins/widgets/__pycache__
/Presentation11/dist/FileEditAndSave/_internal
/qtDesignerBinary
Presentation11/buildScript/FileEditAndSave.spec
/Presentation11/dist
setup.exe
/Presentation11/buildScript
/Presentation10/\#4Timer/__pycache__
/Presentation10/\#5TimerOppgave/__pycache__
Presentation10/\#2SerialPlotterTemplate/classes.dot
